<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverurl</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>UAAP_APPAREL</param-value>
    </context-param>
    <servlet>
        <servlet-name>LogInSignInServlet</servlet-name>
        <servlet-class>Controller.LogInSignInServlet</servlet-class>
        <init-param>
            <param-name>key</param-name>
            <param-value>HkydND9SmuvhEas4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <description>returns a captcha</description>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggedInServlet</servlet-name>
        <servlet-class>Controller.LoggedInServlet</servlet-class>
        <init-param>
            <param-name>key</param-name>
            <param-value>HkydND9SmuvhEas4</param-value>
        </init-param>
        <init-param>
            <param-name>displaykey</param-name>
            <param-value>j1bFJX1W9zx4OwrU</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>Controller.GuestServlet</servlet-class>
        <init-param>
            <param-name>key</param-name>
            <param-value>NTubJRFb5SAgIWPi</param-value>
        </init-param>
        <init-param>
            <param-name>displaykey</param-name>
            <param-value>bVHHYxEQxktCImSR</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
        <init-param>
            <param-name>key</param-name>
            <param-value>HkydND9SmuvhEas4</param-value>
        </init-param>
        <init-param>
            <param-name>displaykey</param-name>
            <param-value>j1bFJX1W9zx4OwrU</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInSignInServlet</servlet-name>
        <url-pattern>/LogInSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/Captcha.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggedInServlet</servlet-name>
        <url-pattern>/LoggedInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>UpdateProduct.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
</web-app>
